dev <%= @dev %>
<% if @fragment -%>
fragment <%= @fragment %>
<% end -%>
<% if @mssfix -%>
mssfix
<% end -%>
remote <%= @remote %>
<% if @proto -%>
proto <%= proto %>
<% end -%>
<% if @float -%>
float
<% end -%>
# Local  : <%= @ipaddress_local %>
# Remote : <%= @ipaddress_remote %>
ifconfig <%= @ipaddress_local %> <%= @ipaddress_remote %>
<% if !@routes.empty? -%>
# Static routes
<% @routes.each do |route| -%>
route <%= route %>
<% end -%>
<% end -%>
secret <%= @secret %>
port <%= @port %>

verb <%= @verb %>

log <%= @log %>
