
### REPORO = SSH URL for configuration repository
export REPORO=<%= @reporo %>

### Required to use the correct SSH key
export GIT_SSH=/usr/local/admin_server/bin/gitsshro.sh

### Work out the short name for the repo
export REPORONAME=$(echo $REPORO | sed -e 's-^.*/--;s/\.git$//')

### and then the path of the local copy
export REPOROHOME=/home/<%= @adminacct %>/$REPORONAME

. $REPOROHOME/scripts/common.sh
export ECPETCDIR=$REPOROHOME/etc
export ECPSCRIPTDIR=$REPOROHOME/scripts
export ECPREPOBRANCH=<%= @repobranch %>

