#!/bin/bash

. /etc/profile

outdir=<%= @htmldir %>
outfile=$outdir/index.html


tmpf=$(mktemp)

### Output to file and stdout
#exec > >(tee $outfile)


cd $(dirname $0)/../html

ls | while read f ; do

	[[ "$f" != "${f%.sh*}" ]] && . "$f"     >> $tmpf
	[[ "$f" != "${f%.html*}" ]] && cat "$f" >> $tmpf

done

mv $tmpf $outfile
chmod a+r $outfile
