#!/bin/bash
#
# This file is managed by Puppet
#

#REPORONAME=$(echo <%= reporo %> | sed -e 's-^.*/--;s/\.git$//')
#. /home/<%= @adminacct %>/$REPORONAME/scripts/common.sh
. /usr/local/admin_server/etc/admin.cfg


