#!/usr/bin/env bash

### Ref: http://serverfault.com/questions/647805/how-to-set-up-icinga2-remote-client-without-using-cli-wizard

pki_dir=/etc/icinga2/pki
#fqdn=$(hostname)
fqdn=${CLOUDSERVERTYPE}-${CLOUDINSTANCE}.${CLOUDENV,,}.${CLOUDCLIENT,,}.${CLOUDDOMAIN}
icinga2_master=<%= @icinga2_master %>
icinga2_master_port=<%= @icinga2_port %>
icinga2_endpoint=icinga

ticket=$(curl -H 'Accept: application/json' \
    -u '<%= @icinga2_user %>:<%= icinga2_password %>' \
    "http://$icinga2_master/icingaweb2/director/host/ticket?name=$fqdn" | sed -e 's/"//g')


mkdir $pki_dir
chown -R icinga:icinga $pki_dir
chmod -R 700 $pki_dir

icinga2 pki new-cert \
    --cn $fqdn \
    --key $pki_dir/$fqdn.key \
    --cert $pki_dir/$fqdn.crt

icinga2 pki save-cert \
    --key $pki_dir/$fqdn.key \
    --cert $pki_dir/$fqdn.crt \
    --trustedcert $pki_dir/trusted-master.crt \
    --host $icinga2_master

icinga2 pki request \
    --host $icinga2_master \
    --port $icinga2_master_port \
    --ticket $ticket \
    --key $pki_dir/$fqdn.key \
    --cert $pki_dir/$fqdn.crt \
    --trustedcert $pki_dir/trusted-master.crt \
    --ca $pki_dir/ca.key


icinga2 node setup \
    --ticket $ticket \
    --cn $fqdn \
    --endpoint $icinga2_endpoint,$icinga2_master,$icinga2_master_port \
    --zone $fqdn \
    --master_host $icinga2_master \
    --trustedcert $pki_dir/trusted-master.crt

sed -i -e 's/accept_config = false/accept_config = true/ ; s/accept_commands = false/accept_commands = true/' /etc/icinga2/features-available/api.conf

systemctl restart icinga2
