#
# This file is managed by Puppet
#
# Set values in Hiera, or pass to servertype_websphere::init
#

BASEDIR=<%= @basedir %>    # /opt/maxapps (will move to /opt for future modules)
WASUSER=<%= @wasuser %>    # Websphere admin login (e.g. wasadmin)
WASPASS=<%= @waspass %>    # Password for the above
WASJVMIGNORE=<%= @wasjvmignore %>    # JVMs which can be down, monitoring will ignore these - regexp
WASJVMDONOTRUN=<%= @wasjvmdonotrun %>    # JVMs which should not be run - regexp
WASLOGAGEINDAYS=<%= @waslogageindays %>    # SystemOut.*log$ files over this age will be compressed
WASDUMPAGEINDAYS=<%= @wasdumpageindays %>    # javacore, Snap and core files over this age will be deleted
ORAINT_HOUSEKEEP=<%= @oraint_housekeep %>    # Manage archiving of Oracle Integration processed files
ORAINT_HOUSEKEEP_AGEINDAYS=<%= @oraint_housekeep_ageindays %>    # Archive Oracle Integration files > this

