#!/bin/bash
### BEGIN INIT INFO
# Provides: cognos
# Required-Start: $local_fs $network $remote_fs $db2
# Required-Stop: $local_fs $network $remote_fs $db2
# Default-Start:  2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Starts and stops Cognos BI Server.
# Description: Starts and stops Cognos BI Server.
### END INIT INFO

#
# Ade 2017-09
#
# Using sysvInit script format
#

### This file is managed by Puppet


BASE=<%= @cognosinst %>

. /etc/profile

start()
{
    echo "$BASE/bin64/cogconfig.sh -s" | sudo -i -u cognos
}

stop()
{
    echo "$BASE/bin64/cogconfig.sh -stop" | sudo -i -u cognos
    rm -f $BASE/configuration/cogstartup.lock
}


# See how we were called.
case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart}"
        exit 2
esac
