#!/bin/bash
#
# This script is managed by Puppet
#

cd <%= @resdir %> 

timestamp=$(date +%Y-%m-%d-%H-%M)

### Backup the original file, but timestamp it so it is never overwritten
### (Puppet will check for the backup link and not rerun if this exists)

cp templates.xml templates.xml.$timestamp
ln -sf templates.xml.$timestamp templates.xml.backup

### Use \1 to insert the correct number of indents
sed -ie 's-\(^.*\)</page>-\1	<pageSetup>\
\1		<namedPaper name="/configuration/pageDefinition[@name='A4']"/>\
\1	</pageSetup>\
\1</page>-' templates.xml


/etc/init.d/cognos stop ; sleep 2 ; /etc/init.d/cognos start

