#!/bin/bash
#
# This file is managed by Puppet
#
# Run from cron regularly (e.g. every 10 minutes)
#
# 1. Records status of VNC sessions in status directory
#    Basically touch e.g. '5901' if port 5901 has an established connection
#
# 2. If the last time a session was connected to is > 1 week (normal users)
#    or > 1 day (root), kill the session.
#
# NB: This is not foolproof, if a session is used only between cron runs, and is close to the expiry time,
#     then it may be caught.
#     This is a very small risk, and a session can always be recreated.
#

### Number of seconds to run depending on user type
MAXUSER=<%= @maxuser %>
MAXROOT=<%= @maxroot %>

statdir=/var/tmp/vncstatus
[[ ! -d $statdir ]] && mkdir -p $statdir

### Find the list of ports with established VNC connections
estconns=$(netstat -pant | awk '$1=="tcp" && $6=="ESTABLISHED"  && /Xvnc/ {split($4,a,":"); print a[2]}')

### Create a 'keepalive' file
for estconn in $estconns ; do
	touch $statdir/$estconn
done


### Now find the running sessions and determine when they were last connected to

now=$(date --utc +%s)

ps -eo pid,user,args | awk '!/awk/ && /Xvnc/' | while read pid user args ; do

	### Find the port, relies on e.g. '-rfbport 5901' being in the process args
	port=$(echo $args | sed -e 's/.*rfbport //' | sed -e 's/ .*$//')

	### Status file doesn't exist, so start from now
	[[ ! -f $statdir/$port ]] && touch $statdir/$port

	ftime=$(stat $statdir/$port | awk '/^Modify/ {$1=""; print}')
	fsecs=$(date --utc --date "$ftime" +%s)
	age=$(( $now - $fsecs ))

	if [[ $age -gt $MAXROOT && $user == "root" || $age -gt $MAXUSER ]] ; then
		msg="Warning: VNC session (user: $user, port:$port pid:$pid) was last used $age seconds ago - killing it"
		echo $msg
		logger -p user.info "$msg"
		kill $pid
	fi

done

